<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="css/blog.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- <link rel="stylesheet" href="css/dropdown.css"> -->
    <title>Blogs</title>
</head>
<body>
    <header>
      <a href="/" class="logo">blogs<span>Hut</span></a>
        <nav class="navbar">
            <a  href="/home">Home</a>
            <a class="active" href="/blog">Blog</a>
            <a href="/write">Write</a>
            <a href="/about">About</a>
            <a href="/review">Review</a>
            <a href="/contact">Contact</a>
        </nav>

        <div class="icons">
            <i class="fas fa-bars" id="menu-bars"></i>
            <a  style="background: none; padding: 0;" id="user" href="/profile"><i class="fa-solid fa-user"></i></a>
        </div>
        <div class="profile">  
            <div class="dropdown">
                <a style="text-transform: none; font-size: 1.7rem; color: black;" href="#" ><%= username %> <i class="fa-solid fa-chevron-down"></i></a>
                <div class="dropdown-content">
                <a href="/profile"><i class="fa-solid fa-user"></i> profile</a>
                <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> logout</a>
                </div>
              </div>
        </div>
    </header>
    <section class="home" id="home" style="margin-top: 5rem">
      <div class="content">
          <h1 style="font-size:10rem;">Stay curious.</h1>
          <p>Discover stories, thinking, and expertise from writers on any topic.</p>
               <a style="background-color:#3aafa9 ;" href="#blog" class="btn">Start Reading</a>
      </div>
      <div class="image">
          <img src="images/image.png" alt="">
      </div>



    <section id="blog" style="margin-top: 12rem;">
      <h2 style="font-size:6rem; text-align:center; margin-bottom:3.6rem" >Recent Posts</h2>

      <% blogs.forEach(function(blog){ %>
        <div class="blog-box">
          <div class="blog-image">
            <img src="<%=blog.img%>" alt="Blog">
          </div>
          <div class="blog-details">
            <h4 style="font-family:'Times New Roman', Times, serif ;"><%=blog.title%></h4>
            <p><%=blog.notes.substring(0,200)%></p>
            <a href="/post/<%=blog._id%>">Continue reading</a>
          </div>
        </div>
        <% }) %>
        <div class="blog-box">
          <div class="blog-image">
            <img src="https://images.pexels.com/photos/298863/pexels-photo-298863.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Blog">
          </div>
          <div class="blog-details">
            <h4>10 Menswear Blogs Every Guy Should Know</h4>
            <p>A decade ago, you could count the number of men’s style bloggers on one hand. Clearly those days are long gone. Today,
              sifting through all of them would take an eternity. So we’ve gathered 10 that inspire us so you can bookmark them and
              get inspired too.</p>
            <a href="/post">Continue reading</a><br>
            <span class="author"><p style="font-size: 1.2rem; font-family: 'Times New Roman', Times, serif;">Published by: <%= blog.name %></p></span>

          </div>
          
        </div>
        <div class="blog-box">
          <div class="blog-image">
            <img src="https://images.pexels.com/photos/972995/pexels-photo-972995.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Blog">
          </div>
          <div class="blog-details">
            <h4>8 Beauty bloggers you should be following</h4>
            <p> On the weekend (or whenever—who are we kidding?), we love nothing more than checking out what our favorite influencers
              are posting, from the products they're raving about or the makeup tutorials they're loving. While makeup and skincare
              blogs launch all the time, we continue to go back to certain experts over and over again...</p>
            <a href="#">Continue reading</a>
          </div>
          
        </div>
        <div class="blog-box">
          <div class="blog-image">
            <img src="https://images.pexels.com/photos/833052/pexels-photo-833052.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Blog">
          </div>
          <div class="blog-details">
            <h4>Good, Better, Best</h4>
            <p>Learning how to choose what kind of t-shirt to use for your craft or screen-printing project depends on your crafting or
              screen-printing business needs. Some fabric and screen-printing choices make more sense for your bottom line than
              others. Or perhaps you’re looking for a different kind of t-shirt for your business due to changing needs.</p>
            <a href="#">Continue reading</a>
          </div>
        </div>
        <div class="blog-box">
          <div class="blog-image">
            <img src="https://images.pexels.com/photos/1266139/pexels-photo-1266139.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Blog">
          </div>
          <div class="blog-details">
            <h4>3 keys to healthy grocery shopping
            </h4>
            <p>With the New Year a few months behind us now, hectic schedules and daily distractions have gotten in the way of our most
              well intended resolutions. If you are still looking to work on being healthier this year, eating healthier is a good
              option that may be easier than it seems.</p>
            <a href="#">Continue reading</a>
          </div>
        </div>
      </section>

      <script>
        let menu = document.querySelector('#menu-bars');
        let navbar = document.querySelector('.navbar');
        menu.onclick = () =>{
        menu.classList.toggle('fa-times');
        navbar.classList.toggle('active');

}
    </script>
</body>
</html>
